/* header (hero) Area */

header{
    padding-top: 8em;
    padding-bottom: 0em;
    height: auto;
    
}
header .title-hero{
    margin-top: -.125em;
    margin-bottom: 0px;
}
header .short-description{
    margin-top: 1.5em;
}
header .h2.sub-title-hero{}


header .btn{
    margin-top: 1.25em;
    margin-bottom: 3em;
}

header .header-img{
    width: 80%;
    height: auto; 
}
header .header-img img{
    width: 100%;
    height: auto;
}



@media only screen and (min-width: 668px) and (max-width: 768px) {
    header{}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header{}
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    header{}
}

@media only screen and (min-width: 1401px) and (max-width: 1920px) {
    header{}
}


section img{
    width: 32em;
    height: 32em;
}