body{
    color: #212121;
    font-family: 'Manrope', sans-serif;
    background: #fafafa;
}
.text-muted{
    color: #727272 !important;
}
/*  Color  */
.primary-color{
    color: #424242;
}
.primary-background{
    color: #424242;
}

.secondary-color{
    color: #E843A1;
}
.secondary-background{
    color: #E843A1;
}

.success-color{
    color: #00C66D;
}
.success-background{
    color: #00C66D;
}

.danger-color{
    color: #D10049;
}
.danger-background{
    color: #D10049;
}

.warning-color{
    color: #F9A825;
}
.warning-background{
    color: #F9A825;
}

.info-color{
    color: #4A6DFF;
}
.info-background{
    color: #4A6DFF;
}



/* ---Typhography--- */

body{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
/* ---Typhography Responsive--- */
@media(min-width:1600px) {
    body{
      font-size: 18px;
    }
}
@media(max-width:1600px) {
    body{
      font-size: 16px;
    }
}
@media(max-width:1024px) {
    body{
      font-size: 14px;
    }
}
@media(max-width:640px) {
    body{
      font-size: 12px;
        font-weight: 400;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.25;
}
h1, .h1{
  font-size: 2.75em;
}
h2, .h2{
  font-size: 2.25em;
}
h3, .h3{
  font-size: 1.75em;
}
h4, .h4{
  font-size: 1.5em;
}
h5, .h5{
  font-size: 1.25em;
}
h6, .h6{
  font-size: .875em;
  letter-spacing: 1px;
}
.display-1, .display-2, .display-3, .display-4{
    font-weight: 300;
    line-height: 1.25;
}
.display-4{
    font-size:3.25em;
}
.display-3{
    font-size:4em;
}
.display-2{
    font-size:4.75em;
}
.display-1{
    font-size:5.5em;
}

p, .p{
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: .02em;
}
.p-lg{
    font-size: 1.15em;
}
.p-sm{
  font-size: .875em;
  letter-spacing: 1px;
}
.p-xsm{
    font-size: .75em;
  letter-spacing: 1px;
}


a, a:focus, a:hover, a:active{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}
a{
    color: #424242;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
a:focus, a:hover, a:active{
    color: #000;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}


.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}





/* ---Clearfix---  */
.clear{
  clear: both;
}
.no-margin{
  margin: 0px;
}
.no-padding{
  padding: 0px;
}


/* ---Button---  */
.btn{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3em;
    font-weight: 600;
    border-color: transparent;
    padding: .5em 1.25em;
    box-shadow: none;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.btn-sm{
    font-size: .75em;
}
.btn-lg{
    font-size: 1.15em;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disable{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 24px 0.48rem #42424208;
    border-color: transparent;
}
.btn-primary{
    background: #424242;
    color: #fff;
}
.btn-outline-primary{
    color: #424242;
    border-color: #424242;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus{
    background: #111111;
    color: #fff;
}


.btn-secondary{
    background: #E843A1;
    color: #fff; 
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{
    background: #E30070;
    color: #fff;
}


.btn-success{
    background: #00C66D;
    color: #fff;  
}
.btn-success:, .btn-success:active, .btn-success:focus{
    background: #00993B;
    color: #fff;
}


.btn-danger{
    background: #D10049;
    color: #fff; 
}
.btn-danger:, .btn-danger:active, .btn-danger:focus{
    background: #A80043;
    color: #fff;
}


.btn-warning{
    background: #F9A825;
    color: #fff;  
}
.btn-warning:, .btn-warningwarning:active, .btn-warningwarning:focus{
    background: #FF9B03;
    color: #fff;
}


.btn-info{
    background: #4A6DFF;
    color: #fff;  
}
.btn-info:, .btn-info:active, .btn-info:focus{
    background: #003CE6;
    color: #fff;
}


.btn-link{
    color: #424242;
}
.btn-link:, .btn-link:active, .btn-link:focus{
    color: #000;
}




.btn-sm{
  font-size: .875em;
}
.btn-sm:hover, .btn-sm:focus, .btn-sm:active{
  font-size: .875em;
}
.btn-lg{
  font-size: 1.25em;
}


/* Image */
.img-fullwidth{
    width: 100%;
    height: auto;
}
.img-fullheight{
    height: 100%;
    width: auto;
}


/* Navbar (menubar) */
.navbar .logo .logo-img { 
    height: 2.5em; 
    width: auto; 
}
.logo-mobile{
        display: none;
}
.navbar{
    background: transparent;
    border: 0px;
    width: 96%;
    margin: 1em auto;
    padding-left: .5em;
    padding-right: .5em;
}

.navbar .navbar-nav{
    padding: .75em 0px;
}
.navbar .navbar-nav>li{
    padding: 0px 1em;
}
.navbar .navbar-nav>li>a{
    text-decoration: none;
    color: #424242;
    padding: .5em 0px;
    font-weight: 400;
    border-bottom: .125em solid transparent;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:active, .navbar .navbar-nav>li>a.active{
    color: #000;
    border-color: #000;
}
.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:active, .navbar .navbar-nav>li>a.active{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.top-nav-collapse{
    background-color: #fff;
    border-radius: 5em;
    box-shadow: 0 0 1.5em 0.48rem #42424216;
    margin-top: .125em;
}
.navbar, .top-nav-collapse{
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;  
}
.navbar-light .navbar-toggler{
    background-color: #42424232;
    border-color: transparent;
    color: #424242;
}
.navbar-light .navbar-toggler:focus{
    background-color: #42424200;
    border-color: transparent;
}


@media only screen and (max-width: 480px){
    .logo-desktop{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
}
@media only screen and (max-width: 960px){
    .top-nav-collapse{
        border-radius: 2em;
    }
    .navbar-collapse.collapsing, .navbar-collapse.collapse {
        background-color: #fafafa;
        text-align: end;
        padding: 1.5em;
        border-radius: 0 0 1em 1em;
        box-shadow: 0 0 1.5em 0.48rem #42424216;
    }
    .navbar .navbar-nav>li{
        margin-bottom: 1.25em;
    }
}




@media only screen and (max-width: 480px){
    .logo .logo-img, .top-nav-collapse .logo>.logo-img{}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .logo .logo-img{}
}

@media only screen and (min-width: 960px) and (max-width: 1400px) {
    .navbar-default{}
}
@media only screen and (min-width: 1401px) and (max-width: 1920px) {
    .navbar-default{}
}

/* Form */
form .form-group{
    margin-bottom: 1em;
}
form .form-group label{
    margin-bottom: .5em;
}
form#contact-form input, form#contact-form textarea{
    text-align: center;
    font-size: 1.15em;
    padding: .75rem;
    border-radius: .5em;
    border: 1px solid #ddd;
    background: #fafafa;
    font-weight: 400;
}

form#contact-form input:hover,
form#contact-form input:active,
form#contact-form input:visited,
form#contact-form input:focus,
form#contact-form input:target,
form#contact-form textarea:hover,  
form#contact-form textarea:active, 
form#contact-form textarea:visited, 
form#contact-form textarea:focus,
form#contact-form textarea:target{
    color: #000;
    font-size: 1.15em;
    font-weight: 500;
    border-color: #bbb;
    box-shadow: 0 0 24px 0.48em #42424208;

}

form#contact-form input, 
form#contact-form input:hover,
form#contact-form input:active,
form#contact-form input:visited,
form#contact-form input:focus,
form#contact-form textarea, 
form#contact-form textarea:hover,
form#contact-form textarea:active, 
form#contact-form textarea:visited, 
form#contact-form textarea:focus {
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

form#contact-form button{
    margin-top: 1em;
}


/* call to action */
@media only screen and (min-width: 1401px) and (max-width: 1920px) {
    #call-to-action .title-hero{}
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    #call-to-action .title-hero{}
}



/* Header */
header{
    background: #fdfdfd;
    padding-top: 7em;
    padding-bottom: 3em;
    width: 96%;
    height: auto;
    margin: 1em auto;
    margin-top: 6em;
    border-radius:2em;
}
header, header:hover{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
header:hover{
    box-shadow: 0 0 1em 0.4rem #42424200;
}


/* Sections  */

section{
    padding: 120px 0px;
}
section, footer{
    width: 96%;
    height: auto;
    margin: 1em auto;
    border-radius:1.25em;
    background-color: #fff;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
section:hover, footer:hover{
    box-shadow: 0 0 1em 0.4rem #42424208;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
    .container {}
}


section img{
    width: 72%;
    height: 72%;
}

section .content-block{
    width: 72%;
}



/* footer  */
footer { 
    padding: 7.5em 0px 2.5em 0px; 
    margin-bottom: 1.5em;
    background: #fdfdfd;
}
footer .logo{
    height: 2.75em;
    width: auto;
    margin-bottom: 1.5em;
}

footer .footer-contact{}

footer .social-icons { 
    margin-top: 1em;
    margin-bottom: 1em;
}
footer .social-icons a { 
    font-size: 1em; 
    margin: .5em;
}
.linkedin{
    color: #1B66C2;
}
.behance{
    color: #0A3ECB;
}
.dribbble{
    color: #ea4c89;
}
.twitter{
    color: #31A4F2;
}

footer .social-icons a:hover { 
    color: #000;
}
footer .social-icons a, footer .social-icons a:hover{
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

@media only screen and (max-width: 480px){
    footer {}
    footer .logo{ 
        height: 2em; 
        width: auto; 
    }
}






/* about page  */
img.company-logo{
    height: 4em;
    width: auto;
}
img.img-rounded{
    border-radius:1.25em; 
}


